@using Microsoft.JSInterop
@inject IJSRuntime JS

@* @{ ViewData["Title"] = "Login"; *@
@* } *@

<div class="container flex flex-row w-full h-full">
  <div class="flex justify-center items-center">
    <h2 class="text-teal-800 xl">Login</h2>
  </div>
  <div class="container flex flex-col justify-items-center">
    <form>
      <input type="text" name="email" value="email">
      <input type="text" name="name" value="name">
      <input type="password" name="password" value="password">
    </form>
  </div>
  <button type="button" @onclick="foo" >Click me daddy</button>

</div>

@code {
  private async void foo()
  {
    await JS.InvokeVoidAsync("alert", "Warning!");
  }
}
