<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - butterfly_dotnet_mvc</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/butterfly_dotnet_mvc.styles.css" asp-append-version="true" />

  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="bg-[#f9f9f9]">
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-1 h-8">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">butterfly_dotnet_mvc</a>
      </div>
    </nav>
  </header>
    <main role="main" >
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="">
      &copy; 2023 - butterfly_dotnet_mvc2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
